/* my float css starts here */
h1{
    float:right;
}
*
{
    box-sizing: border-box;
}
/* my float css ends here */
/*flexbox*/
#outer
{
    border: 1px solid red;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: row;
    
  

    
}
.inner
{
   background-color: antiquewhite;
    border: 1px solid black;
    height: 50px;
    width: 100px;  
    border-radius: 100px;  
}
.five
{
    flex-grow: 5;
    /*focus flex-grow,flex-basis,flex-shrink*/
}