body
{
   /* background: radial-gradient(red,green,red,green,red,green);
   background-size: cover; */
}
#h
{
    color: red;
    font-size: 25px;
    text-align: center;
    
}
.para
{
    color:tomato;
    text-align: justify;
    

}
a
{
 text-decoration: none;
}
.word
{
    font-weight: bold;
    text-decoration: underline;
}
img
{
    height: 200px;
    width: 500px;
}