*
{
    box-sizing: border-box;
   
}
.outer
{
    margin: 100px;
    border: 2px solid red;
}
.inner{
    height: 100px;
    width: 100px;
}
.i1
{
    background-color: blue;
    /* positions are five  static,absolute, relative,fixed,sticky*/
    
}
.i2
{
    background-color: green;
}
.i3
{
    background-color: red;
}
.i4
{
    background-color: brown;
}


.i1
{
 transition:3s all ease-in-out;
    
}
.i1:hover
{
    background-color: red;
    height: 300px;
    width: 300px;
    border-radius: 100px;
}












