/* CSS3 introduced custom values*/

*
{
 box-sizing: border-box;
   font-family: 'DM Sans', sans-serif;
font-family: 'Grenze Gotisch', serif;
font-family: 'Jost', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
  --primary:black;  
  --secondary:grey;
  
}

header{
    background-color:var(--primary);
padding: 0 40px;
    display: flex;
    justify-content: space-between;
    height: 100px;
  
}
header img
{
   height: 100px;
   width: 200px;
}
.menu ul
{
 display: flex; 
 gap: 20px;
 justify-content: center;
 align-items: center;
 height: 80%
}
.menu li
{
   padding: 10px;
}
.menu li a
{
    text-decoration: none;
    color: white;
    font-size: 28px;
}
.menu li a:hover{
    color:var(--secondary)
}
#home
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px ;
}
.right img
{
    width: 400px;
    height: 400px;
}
.left
{
    padding:0 50px;
}
.heading
{
font-size: 80px;
margin: 0px;
}
.sub-heading
{
    font-size:48px;
    margin: 0px;
}
.sub-heading span
{
    color:var(--secondary);
}
.data
{
    font-size: 24px;
    color: var(--primary);
    text-align: justify;
}
button
{
    background-color: var(--primary);
    color: white;
    border-radius:10px;
    padding: 10px;
    margin:0 20px;
    cursor: url('./magic-wand-svgrepo-com.svg') 2 4,auto;
}
a{
    color: white;
    text-decoration: none;
}
button:hover
{
    background-color: var(--secondary);
    color:white;
    border: 1px solid var(--secondary);
}
#about
{
    padding: 50px 100px;
}
.title
{
    font-size: 48px;
    text-align: center;
     text-decoration: underline;
     text-decoration-color: var(--secondary);
}
#about p
{
    padding: 0 50px;
    text-align: justify;
}
.projects
{
    padding: 50px 100px;
}
.projects-div
{
    padding: 0px 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.project
{
    box-shadow: 5px 5px var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
#contact
{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form
{
    padding: 50px;
    box-shadow: 5px 5px black;
}
footer
{
    background-color:var(--primary);
    width: 100%;
    height: 250px;
    color: white;
    text-align: center;
}
@media(max-width:480px)/*mobiles or smartphones*/
{
 header img{
        width: 150px;
        
    }
     header
     {
        flex-direction: column;
        height: 400px;
        gap: 10px;
     }
     .menu ul{
         gap: 0px;
         flex-direction: column;
     }
     #about
     {
        padding:0 5px;
     }
    .projects-div{
        grid-template-columns: repeat(1,1fr);
    }
    #home{
        flex-direction: column;
        
    }
}
@media ((min-width:481px) and (max-width:767px))/* tablets*/
{
    header img{
        width: 150px;
        
    }
     header
     {
        flex-direction: column;
        height: 200px;
     }
     .menu ul{
         gap: 0px;
     }
     #about
     {
        padding:0 5px;
     }
    .projects-div{
        grid-template-columns: repeat(1,1fr);
    }
    #home{
        flex-direction: column;
        
    }
}
@media ((min-width:768px) and (max-width:1024px))/* old Desktops*/
{
    .projects-div{
        
        grid-template-columns: repeat(2,1fr);
    }
}
@media ((min-width:1025px) and (max-width:1280px))/* Pc,laptops*/
{
}
@media(min-width:1281px){
/*large devices*/
}
