body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#counter
{
    box-shadow: 5px 5px 5px black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#count{
  font-size: 48px;
}
button
{
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 20px;
}
